body{
    background-color: lightgrey;
}

.block-wrap .row{
    width: 60%;
    height: 250px;
    margin: 0 auto;
}

.block-wrap .row .col-md-6, .col-md-12{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

.content-wrap {
    border: groove 2px;
    border-radius: 4px;
    height: 100%;

}

.curtail-block{
    width: 70%;
    height: 300px;
    border: groove 2px;
    border-radius: 4px;

}

.up-line{
    height: 20px;
    width: 100%;
    background-color: burlywood;
}

/*
.total-companies{
    width: 15em;
    height: 30vh;
    background-color: white;
    border-radius: 200px;

}
*/


