body{
    background-color: lightgrey;
}

.btn-chart{
    float: right;
    margin-left: 50%;
}

.chart-wrap{
    display: flex;
    align-items: center;
}

.button-wrap{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.card-body{
    padding: 0;
}

.header-wrap{
    width: 100%;
    display: flex;
    align-items: center;
}

.text-wrap{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block-wrap .row{
    width: 60%;
    height: 300px;
    margin: 0 auto;
}

.block-wrap .row .col-md-6, .col-md-12{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card{
    height: 100%;
}

.total-companies .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sphere{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    font-size: 30px;
}

.list-group{
    height: 220px;
    overflow-y: scroll;
}

.table-row{
    height: auto;
    display: none;
    line-height: 0;
}

.list-group-item:hover {
    background: cadetblue;
    cursor: pointer;
}

#partners-table{
    height: 150px;
    overflow-y: scroll;
}

g[column-id]:hover{
    cursor: pointer;
}

#loc_list{
    display: none;
}

/*------------slider------------*/

.slider {
    z-index: 9;
    width: 100%;
    height: 190px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}
.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul li {
    list-style-type: none;

    width: 100%;
    height: 77%;
}
.slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px;
}
.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
    background: #2e9419;
}

.image-wrap{
    width: 70%;
}

.slider-elements{
    padding: 4px;
}

/*.cont-left{*/
    /*width: 50%;*/
/*}*/

/*.cont-right{*/
    /*width: 50%;*/
    /*height: 160px;*/
/*}*/

#text-news{
    width: 100%;
    overflow-y: scroll;
}

.swiper-container {
    position: inherit!important;
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}





